body{
    background-color: #777;
    
}
.container{
    background-color: #ede6ce;
	width: 80%;
	height: auto;
    padding-bottom: 2%;
	margin-left: 10%;
    border: 5px solid #d80808;
}


#Banner{
	text-align: center;
	color: #fff;
	background-color: #d80808;
	
}

img{
    width: 100%;
}

.menu{
	border-top: 2px solid #d80808;
	border-bottom: 2px solid #d80808;
	background-color: #ede6ce;
    text-align: center;
	float: right;
	width: 100%;
}

.cart{
    width: 100%;
    text-align: center;
}